body{
  font-weight: 400;
  margin:0;
}

ul{
  margin: 0;padding: 0;
}
ul li{
  list-style-type: none;
  display: none;
  margin: 10px;
  clear: both;
  overflow: hidden;
  padding: 10px;
  
  
}  
.bubble {
    position: relative;
    width: 80%;
    padding: 8px;
    float: left;
    display: inline-block;
    vertical-align:middle;

    font-size: 18px;
    color: #fff;
    text-align: left;

   background-color: #2064b6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(97, 97, 97, 0.5);
    -moz-box-shadow: 2px 2px 10px 0px rgba(97, 97, 97, 0.5);
    box-shadow: 2px 2px 10px 0px rgba(97, 97, 97, 0.5);
}

  .bubble:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 0;
    left: -10px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #2064b6;
    display: block;
    width: 0;
    z-index: 1;
}


