{% extends "index.html" %}
{% block title %}

			<!--Creates the popup body-->
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<script src="{{ url_for('static', filename='./js/finish.js') }}"></script>

			<div id="finishPop" class="modal fade" role="dialog">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h6>Success!</h6>
			      </div>
			      <div class="modal-body">
							<p><span id="eventName-popup">You have successfully added </span> <span><b>{{ title["summary"] }}</b></span><span> for: </span> <br />
	              	{% for i in range(rep) %}
	                <span> <b>{{ displayList[i] }}</b> </span> <br />
	        		{% endfor %}
	              </p>
								<a href="/end"><button class="btn btn-primary">Signout</button></a>
						    <a href="/form"><button>View Calendar</button></a>
			      </div>
			    </div>
			  </div>
			</div>

{% endblock %}
