<!-- base.html -->

<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
  <head>
  </head>
  <body>
    <div class="container">
      <p>Assignment Scheduler</p>
      <!--Add buttons to initiate auth sequence and sign out-->


      <!--  -->

      <!--  -->
      <form method="POST">
               Assignment Title: <input type="text" name="Title"><br>
               Estimated Time: <input type="number" min="0" name="est"><br>
               Deadline: <input type="date" name="dead"><br>
               <input type="submit" value="Create"><br>
           </form>



      <footer class="footer">
</footer>
</div> <!-- /container -->
</body>
</html>
