{% extends "index.html" %}
{% block title %}

			<!--Creates the popup body-->
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<script type="text/javascript"></script>
			<script src="{{ url_for('static', filename='./js/multi.js') }}" ></script>

				<div class="modal fade" id="multi">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">

							<!-- Modal Header -->
							<div class="modal-header modal-header-centered">
								<h6 class="modal-title">Hi there!</h6>

							</div>

							<!-- Modal body -->
							<div class="bg-light text-dark modal-body">
								<p style="line-height:2">
									I have found the following times for you to work on <b>{{ formattedChosenOnes[0]["summary"] }}</b>. <br />
									Please <b>check</b> any that you wish to <b>reschedule</b>.
										</p>
						      <!-- <p>rep = <span id="eventName-popup">{{ rep }}</span> </p> -->
									<div>
						        <form action="/reschedule" method="GET">
						            	{% for i in range(rep) %}
						            		<input type="checkbox" name="{{i}}" value="true"/> {{ displayList[i] }} <b>{{ warning[i] }}</b><br />
												{% endfor %}
												<br/><br/><a href="/form" > <button type="button" id="cancelPopup">Cancel</button></a>
												<a href="/reschedule" ><button type="submit" id="reschedulePopup" class="center">Reschedule selected event(s)</button></a>
												<!-- <input type="submit" value="Submit">  -->
												<a href="/multi_add"> <button type="button" id="addPopup">All times work!</button></a>
							      </form>
									</div>
								</div>
								</div>
								</div>
								</div>


			<!--Content shown when popup is not displayed-->
			<!-- <h2>jQuery Pop-Up Example</h2> -->
			<!-- <button class="open">Open</button> -->

{% endblock %}
