{% extends "index.html" %}
{% block title %}

			<!--Creates the popup body-->
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

			<div class="popup-overlay">
			  <!--Creates the popup content-->
			   <div class="popup-content">
			      <h2>stuff</h2>
			      <p>rep = <span id="eventName-popup">{{ rep }}</span> </p>

            <form action="/reschedule" method="GET">
             <input type="checkbox" name="1" value="1"> ev 1 <br>
             <input type="checkbox" name="2" value="1" checked> ev 2 <br>
             <input type="submit" value="Submit">
            </form>


			  </div>
			</div>
			<!--Content shown when popup is not displayed-->
			<!-- <h2>jQuery Pop-Up Example</h2> -->
			<!-- <button class="open">Open</button> -->

{% endblock %}
