{% extends "index.html" %}
{% block title %}

			<!--Creates the popup body-->
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<script type="text/javascript"></script>

			<div class="popup-overlay">
			  <!--Creates the popup content-->
			   <div class="popup-content">
			      <h2 class="popup-title">Hi there!</h2>
			      <p style="line-height:2">
						I have found the following times for you to work on <b>{{ formattedChosenOnes[0]["summary"] }}</b>. <br />
						Please check any that you wish to reschedule.
			      <!-- <p>rep = <span id="eventName-popup">{{ rep }}</span> </p> -->

	            <form action="/reschedule" method="GET">
	            	{% for i in range(rep) %}
	            		<input type="checkbox" name="{{i}}"" value="true"> {{ displayList[i] }} <b>{{ warning[i] }}</b><br>
					{% endfor %}
					<a href="/form" class="multi-cancel"> <button type="button">Cancel</button></a>
					<a href="#" class="center"><button type="submit" id="reschedule">Reschedule selected event(s)</button></a>
					<!-- <input type="submit" value="Submit">  -->
					<a href="/multi_add" class="multi-add"> <button type="button">All times work!</button></a>

	        	</form>




			  </div>
			</div>
			<script src="{{ url_for('static', filename='./js/multi.js') }}" ></script>
			<!--Content shown when popup is not displayed-->
			<!-- <h2>jQuery Pop-Up Example</h2> -->
			<!-- <button class="open">Open</button> -->

{% endblock %}
