{% extends "index.html" %}
{% block title %}

			<!--Creates the popup body-->
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
				<div class="popup-overlay">
			  <!--Creates the popup content-->
			   	<div class="popup-content">
			      <h2 class="popup-title">Hi there!</h2>
			      <p style="line-height:2">
							I have found time for you to work on <b><span id="eventName-popup">{{ title["summary"] }}</span></b> on <br />
							<b><span id="eventTime-popup">{{ event }}</span></b>. <br />
							Does this work for you?</p>
			      <!-- time.strftime("%b %d %Y %H:%M:%S", time.gmtime(t)) -->
			     <!--popup's close button-->

					 <a href="/reschedule"><button>No, find another time</button></a>
					<a href="/add"><button>Yes, add it to my calendar</button></a>
					<a href="/form"><button>Cancel</button></a>

				</div>
			</div>
			<!--Content shown when popup is not displayed-->
			<!-- <h2>jQuery Pop-Up Example</h2> -->
			<!-- <button class="open">Open</button> -->

{% endblock %}
