<!-- Creates first popup for a scheduled event displaying selected time for assignment, which can be rescheduled, added, or canceled.
Modal design came from: https://getbootstrap.com/docs/4.1/components/modal/ -->

{% extends "index.html" %}
{% block title %}

			<!--Creates the popup body-->
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<script src="{{ url_for('static', filename='./js/popup.js') }}"></script>

			<div class="modal fade" id="popup">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header modal-header-centered">
							<h6 class="modal-title">Hi there!</h6>

						</div>

						<!-- Modal body -->
						<div class="bg-light text-dark modal-body">
							<p style="line-height:2">
  							I have found time for you to work on <b><span id="eventName-popup">{{ title["summary"] }}</span></b> on <br />
  							<b><span id="eventTime-popup">{{ event }}</span></b>. <br />
  							Does this work for you?</p>
  							<b><span id="eventName-popup">{{ options }}</span></b>
  					 		<br/><br/><a href="/reschedule"><button id="reschedulePopup">No, reschedule</button></a>
  							<a href="/add"><button id="addPopup" class="btn btn-info">Yes, add</button></a>
  							<a href="/form"><button id="cancelPopup" class="btn btn-info btn btn-primary" data-dismiss="modal">Cancel</button></a>
					 </div>
					</div>
				</div>
			</div>

{% endblock %}
