<!-- Creates first popup user sees asking if they want to schedule an event right away.
Modal design came from: https://getbootstrap.com/docs/4.1/components/modal/ -->
{% extends "index.html" %}
{% block title %}

			<!--Creates the popup body-->
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<script src="{{ url_for('static', filename='./js/start.js') }}"></script>
			<div id="startPop" class="modal  fade" tabindex="-1" role="dialog">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h6>Hi there!</h6>
			      </div>
			      <div class="modal-body">
			         <p style="line-height:2"> I'm Nessie, your personal assignment scheduler.</p><br/>
			     	 	<p>Do you want to start by adding an assignment coming up?</p><br/>
			      </div>
			      <div class="modal-footer">
							<button type="button" id="noPopup" class="btn btn-info btn btn-primary" data-dismiss="modal">No, add later.</button>
			        <button type="button" id="addPopup" class="btn btn-info" onclick="add_event()">Yes, add now!</button>
			      </div>
			    </div>
			  </div>
			</div>

{% endblock %}
